.cart-div {
    /* border: 1px solid red; */
    font-size: 23px;
    color: white;
    padding-left: 20px;
    padding-top: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: 100; */
    position: relative;

}

.cart-value {
    position: absolute;

    /* right: 8px; */
    bottom: 18px;
    font-size: 11px;

}