.profile-mobile {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    cursor: pointer;
    padding: 12px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: transparent;
}

.toggle-close {
    text-align: center !important;
    /* margin: 0  auto !important; */
    /* position: relative; */
    /* left: 50%; */
    /* right: 50%; */
    /* top: 50px; */
    /* top: 50px; */
    /* transform: translate(-50%, -50%); */


}

.close-btn {
    font-size: 15px;
    background-color: #0eb290;
    padding: 6px 8px;
    border: none;
}

.close-btn:hover {
    background-color: #28806d;
}

.css-qnrya0 {
    border: none !important;
}

.react-icon {

    font-size: 16px;
    /* padding-top: 5px; */
}

.react-trainers {
    font-size: 20px;
}

.list-color {
    padding-bottom: 23px;
}

.m-menu {
    position: absolute;
    top: 12px;
    left: 48px;
    font-size: 14px;
}

.css-1ys30cu {
    border: none !important;
}

.css-1bdadyq {
    height: 40px !important;
}