.main-container-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 85px;
    background-color: #f5f5f5;

}

.main-container-4-2 {
    margin-top: 0px;
}

.inner-container-4 {
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.inner-leftside {
    width: 55%;
}

.card-inner-pic-cnt {

    margin-top: 30px;
    margin-right: 39px;
}


.body{
    color: red;
}